GW_HTTP_PORT=8080
NGINX_TARGET_URL=http://nginx:8081

IPINFO_TOKEN=

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change-this-root-password
MONGO_APP_USERNAME=gw_ipinfo_app
MONGO_APP_PASSWORD=change-this-app-password
MONGO_APP_DATABASE=gw_ipinfo_nginx
MONGO_URI=mongodb://gw_ipinfo_app:change-this-app-password@mongo:27017/gw_ipinfo_nginx?authSource=gw_ipinfo_nginx

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
