# ===== IPinfo =====
IPINFO_TOKEN=replace-with-your-ipinfo-token

# ===== Mongo init root user =====
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change-this-root-password-now

# ===== Mongo app user =====
MONGO_APP_USERNAME=gw_ipinfo_app
MONGO_APP_PASSWORD=change-this-app-password-now
MONGO_APP_DATABASE=gw_ipinfo_nginx

# gateway uses this URI directly
MONGO_URI=mongodb://gw_ipinfo_app:change-this-app-password-now@mongo:27017/gw_ipinfo_nginx?authSource=gw_ipinfo_nginx
